:root {
    --red: hsl(0, 78%, 62%);
    --cyan: hsl(180, 62%, 55%);
    --orange: hsl(34, 97%, 64%);
    --blue: hsl(212, 86%, 64%);

    --very-dark-blue: hsl(234, 12%, 34%);
    --grayish-blue: hsl(229, 6%, 66%);
    --very-light-gray: hsl(0, 0%, 98%);
    --white: #FFF;

    --ff-poppins: "Poppins", sans-serif;

    --fw-extra-light: 200;
    --fw-regular: 400;
    --fw-semi-bold: 600;
}

* {
    box-sizing: border-box;
}

body {
    background-color: var(--very-light-gray);
    font-family: var(--ff-poppins);
    padding-top: 5.3125rem;
    padding-bottom: 5rem;
}

main {
    margin-left: auto;
    margin-right: auto;    
    width: 90%;

    @media screen and (min-width: 1100px) {
        width: unset;
    }
}

.product-hightlight {
    color: var(--very-dark-blue);
    margin-bottom: 4.75rem;
    text-align: center;
    max-width: 33.75rem;
    margin-left: auto;
    margin-right: auto;

    h1 {
        font-size: clamp(1.5rem, 2.5vw, 2.25rem);
        font-weight: var(--fw-extra-light);
        line-height: 2rem;

        @media screen and (min-width: 1100px) {
            line-height: 2.5rem;
        }

        span {
            font-weight: var(--fw-semi-bold);
        }
    }

    p {
        font-size: .9375rem;
        font-weight: var(--fw-regular);
        line-height: 1.5rem;
    }
}

.cards-wrapper {
    @media screen and (min-width: 1100px) {
        align-items: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-left: auto;
        margin-right: auto;
        max-width: 1100px;
        position: relative;
    }
}

.card {
    background-color: var(--white);
    border-radius: .5rem;
    border-top: 4px solid black;
    box-shadow: 0 15px 30px -11px #83A6D2;
    color: var(--very-dark-blue);
    margin-bottom: 1.5625rem;
    padding: 1.75rem;
    text-align: right;

    @media screen and (min-width: 1100px) {
        width: 21.875rem;
    }

    h2 {
        font-weight: var(--fw-semi-bold);
        text-align: left;
        font-size: 1.25rem;
    }

    p {
        margin-bottom: 1.25rem;
        text-align: left;
        font-size: .8125rem;
        line-height: 1.5rem;
        color: var(--grayish-blue);
    }
}

.supervisor {
    border-color: var(--cyan);    

    @media screen and (min-width: 1100px) {
        left: 0;
        position: absolute;
    }

}

.team-builder {
    border-color: var(--red);
}

.karma {
    border-color: var(--orange);
}

.calculator {
    border-color: var(--blue);

    @media screen and (min-width: 1100px) {
        right: 0;
        position: absolute;
    }
}
