:root {
    --red: hsl(0, 78%, 62%);
    --cyan: hsl(180, 62%, 55%);
    --orange: hsl(34, 97%, 64%);
    --blue: hsl(212, 86%, 64%);

    --very-dark-blue: hsl(234, 12%, 34%);
    --grayish-blue: hsl(229, 6%, 66%);
    --very-light-gray: hsl(0, 0%, 98%);
    --white: #FFF;

    --ff-poppins: "Poppins", sans-serif;

    --fw-extra-light: 200;
    --fw-regular: 400;
    --fw-semi-bold: 600;
}

* {
    box-sizing: border-box;
}

body {
    font-family: var(--ff-poppins);
    background-color: var(--very-light-gray);
}

main {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5.3125rem;
}

.product-hightlight {
    text-align: center;
    color: var(--very-dark-blue);

    h1 {
        font-size: 1.5rem;
        font-weight: var(--fw-extra-light);

        span {
            font-weight: var(--fw-semi-bold);
        }
    }

    p {
        line-height: 1.5rem;
        font-weight: var(--fw-regular);
    }
}

.card {
    background-color: var(--white);
    border-top: 2px solid black;
    margin-bottom: 1.5625rem;
    box-shadow: 0 0 10px var(--grayish-blue);
    border-radius: .5rem;
    padding: 1.75rem;
}
